%h1= "Showing tweets containing #{@hashtag}"
#tweets 
  - @tagged_tweets.each do |tweet|
    %ul
      %li
        = tweet.content
        posted at #{tweet.date.asctime} by
        %a{href:"/profile/#{tweet.user.username}"}= "#{tweet.user.username}"
